#root {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #00C805;
  text-decoration: inherit;
}
a:hover {
  color: #00E006;
}

::selection {
  background-color: rgba(0, 200, 5, 0.3);
  color: #FFFFFF;
}
